fastapi
uvicorn
python-dotenv
pymongo
dnspython
pydantic

sentence-transformers
transformers
torch
numpy
scikit-learn

faiss-cpu

python-multipart
bcrypt
passlib[bcrypt]

requests
httpx
google-genai
pdfplumber
